body {
    font-family: 'bungee';
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(85deg, #E0E0E0, #B0BECS);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(19.jpg);
    background-repeat: no-repeat;
    
}
.number {
    position: relative;
    display: flex;
    font-size: 15rem;
    background-image: linear-gradient(90deg, #E1BEE7 33%, 33%, #BBDEFB 66%, 66%, #C8E6C9);
    box-shadow: 0 0 0 0.5rem white, 0 2rem 4rem rgba(0,0,0,0.30), 0 1.5rem 1rem rgba(0,0,0,0.22);
}
&::after {
    content: '';
    background: url(FB_IMG_16074518732573806.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    mix-blend-mode: hard-light;
}
span {
    box-shadow: inset 0 0 0 0.5rem white, inset 0 0 1rem rgba(black, 0.5);
    padding: 0 1rem;
}
span:nth-child(1) {
    background: -webkit-linear-gradient(45deg, #CE93D8 46%, #7E57C2 48%, #7E57C2 68%, #3949AB 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.2rem #BA68C8;
}
span:nth-child(2) {
    background: -webkit-linear-gradient(45deg, #90CAF9 39%, #29B6F6 41%, #29B6F6 59%, #00ACC1 61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.2rem #64B5F6;
}
span:nth-child(3) {
    background: -webkit-linear-gradient(45deg, #80CBC4 39%, #66BB6A 41%, #66BB6A 59%, #9E9D24 61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.2rem #4DB6AC;
}